    /*
    Flaticon icon font: Flaticon
    Creation date: 20/03/2020 16:02
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-water:before { content: "\f100"; }
.flaticon-gym:before { content: "\f101"; }
.flaticon-broken-cable:before { content: "\f102"; }
.flaticon-paint-roller:before { content: "\f103"; }
.flaticon-trolley:before { content: "\f104"; }
.flaticon-avatar:before { content: "\f105"; }
.flaticon-hammer:before { content: "\f106"; }
    
    $font-Flaticon-water: "\f100";
    $font-Flaticon-gym: "\f101";
    $font-Flaticon-broken-cable: "\f102";
    $font-Flaticon-paint-roller: "\f103";
    $font-Flaticon-trolley: "\f104";
    $font-Flaticon-avatar: "\f105";
    $font-Flaticon-hammer: "\f106";