	/*
  	Flaticon icon font: Flaticon
  	Creation date: 20/03/2020 16:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 40px;
font-style: normal;
font-variant: normal;
text-transform: none;


 line-height: 1;

 /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;

}

.flaticon-water:before { content: "\f100"; }
.flaticon-gym:before { content: "\f101"; }
.flaticon-broken-cable:before { content: "\f102"; }
.flaticon-paint-roller:before { content: "\f103"; }
.flaticon-trolley:before { content: "\f104"; }
.flaticon-avatar:before { content: "\f105"; }
.flaticon-hammer:before { content: "\f106"; }